ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -85px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .home a{
    background-image: url(../image/home.ico);
}
ul#navigation .download a      {
    background-image: url(../image/database_down.ico);
}
ul#navigation .load a      {
    background-image: url(../image/usb.ico);
}
ul#navigation .deliver a      {
    background-image: url(../image/package_accept.ico);
}
ul#navigation .changeitem a      {
    background-image: url(../image/remote_desktop.ico);
}
ul#navigation .parameters a   {
    background-image: url(../image/process.ico);
}

select.item_selection {
    visibility: hidden;
}

body{
    font-family:Arial;
    height:1000px;
    /*background-image: url(../image/dev_server_bg.png);*/
    background-repeat: repeat;
    background-color: rosybrown;
    margin: 150px;
}
.header
{
    width:600px;
    height:56px;
    position:absolute;
    top:0px;
    left:25%;
}
.message
{
    width:600px;
    height:80px;
    position:absolute;
    top:0px;
    left:15%;
    color: darkred;
}
.content
{
    width:800px;
    height:300px;
    position:absolute;
    top:100px;
    left:12%;
    color: #FFF111;
}
h1#server_name{
    font-style: italic;
    opacity: 0.3;
    font-size: 500%;
    text-align: center;
}

a.back{
    width:256px;
    height:73px;
    position:fixed;
    bottom:15px;
    right:15px;
}
.info{
    width:133px;
    height:50px;
    position:fixed;
    bottom:15px;
    font-size: 7px;
    text-align:right;
}

.quantity{
    visibility: hidden;
    width: 130px;
}

#results{
    font-size: small;
    color: #FFF111;
}

div.item_selector{
    outline: #00FF00 solid thin;
    color: burlywood;
}

#check_all_items{
    margin-left: 2px;
}

input[type="text"]{ padding: 10px 10px; line-height: 10px; }

#message{
    width: 500px;
}

#sel_ingredients, #sel_potions, #sel_avatarItems,
#sel_ingredients2, #sel_potions2, #sel_avatarItems2,
#sel_ingredients3, #sel_potions3, #sel_avatarItems3{
    visibility: hidden;
}

#error_message{
    color: #FFF111;
    font-size: small;
}


#deliver{
    width: 80px;
    height: 40px;
}

#warning{
    color: #FFF111;
}

#instruction{
    font-weight: bold;
}

#title{
    font-style: italic;
}