{% extends 'base.html' %}


{% block content %}
			<div class="container">
				<div class="wrapper"><!-- wrapper needed for scroll -->
					<!-- Top Navigation -->
					<header class="codrops-header">
						<h1>Voltage Entertainment USA<span>Sales Tool</span></h1>
					</header>
					<div class="main clearfix">
						<p><button id="showMenu">Menu</button></p>
                        <br>
						<div class="column">

						</div>
						<div class="related">
						</div>
					</div><!-- /main -->
				</div><!-- wrapper -->
			</div><!-- /container -->

{% endblock %}